.card {
  background-color: var(--content-white);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  border-bottom: 3px solid var(--content-grey-bg);
}

.title{
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--content-black);
}

.arrow {
  color: var(--content-blue);
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
}

.hashTagList {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 0.5rem;

  padding: 1rem;
  align-items: flex-start;
}

.hashBubble {
  background-color: var(--content-grey-bg);
  display: flex;
  padding: 0.5rem;
  min-height: 0;
  border-radius: 1rem;

  cursor: pointer;
}

.hashBubble:hover{
  text-decoration: underline;
}
.hashName {
  color: var(--content-blue);
  font-size: 0.7rem;
  overflow-wrap:anywhere ;
  font-weight: 700;
}
