.button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 0;
  
  /* font-size: 1.5rem;
  font-weight: 600; */
  font-family: inherit; 
  /* color: var(--content-white); */
  cursor: pointer;
  box-shadow: var(--box-shadow);

  transition: 0.3s;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
