.inputField {
  display: flex;
  flex-direction: column;

  gap: 0.2rem;
  color: var(--content-grey);
}

.inputField input {
  width: 100%;
  border: 2px solid var(--content-grey-transparent);

  padding: 0.8rem 0.3rem;
  color: var(--content-grey);

  background-color: #eee;

  border-radius: 1rem;

  box-shadow: 0 0.4rem #dfd9d9;
}

.inputField input:focus {
  outline: none;
  border: 2px solid var(--content-black);
}

.error {
  color: rgb(199, 45, 45);
  font-size: 0.7rem;
  margin: 0;
  min-height: 1rem;
  transition: all 1s;
}
