.card {
  background-color: var(--content-white);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}
.searchInput input {
  background: transparent;
  box-shadow: none;
  border-radius: 2rem;
  border: none;
}
.searchInput input:focus {
  border: none;
  outline: none;
}
.searchInput {
  flex: 1;
}

.inputRow {
  display: flex;
  align-items: center;
  background-color: var(--content-grey-bg);
  padding: 0rem 1rem;
  border-radius: 2rem;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem;
  flex-wrap: wrap;
}

.divider {
  border: none;
  border-top: 3px solid var(--content-grey-bg);
  margin: 1rem 0;
}

.actionBtn button {
  display: flex;
  gap: 1rem;
  background: transparent;
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.actionBtn button:hover {
  background-color: var(--content-grey-bg);
}

.searchIcon {
  width: 20px;
  height: 20px;
}
