.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
  background-color: #cdcdd2;

}

.left {
  display: flex;
  border: 2px solid var(--content-grey-transparent);
  width: min(100%, 600px);
  justify-content: center;
  border-radius: 1rem;
  padding: 3rem 5rem 3rem 5rem;
  gap: 1rem;
  box-shadow: var(--box-shadow-main);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
}

.title {
  color: var(--content-black);
}

.loginForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.route {
  display: flex;
  align-items: center;
}
.routeLogin {
  display: flex;
  justify-content: center;
  color: var(--content-black);
}
.underline span {
  text-decoration: underline;
  cursor: pointer;
}

.loginCheckBox {
  display: flex;
  gap: 1rem;
}
.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.signupLink {
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .left {
    padding: 2rem 1.5rem;
  }
}
