.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.left {
  display: flex;
  border: 2px solid var(--content-grey-transparent);
  width: min(100%, 600px);

  /* max-height: 600px;
  min-width: 800px; */
  justify-content: center;
  border-radius: 1rem;
  padding: 3rem 5rem 3rem 5rem;
  gap: 1rem;
  box-shadow: var(--box-shadow-main);
  flex-direction: column;

  margin: 1rem;
}
/* .left {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */
.title {
  color: var(--content-black);
}

.loginForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  /* min-width: 600px; */
}

.route {
  display: flex;
  align-items: center;
}
.routeLogin {
  display: flex;
  justify-content: center;
  color: var(--content-black);
}
.underline span {
  text-decoration: underline;
  cursor: pointer;
}

.loginCheckBox {
  display: flex;
  gap: 1rem;
}
.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.signupLink {
  display: flex;
  justify-content: center;
}
